.react-multi-carousel-item{
    max-width: 190px;
    min-width: 190px;
}

@media only screen and (max-width: 415px) {
  div.chefMyFollowedPageChefCardMobile.col {
    min-width: 87.5vw !important;
    max-width: 87.5vw !important;
    height: 43.5vh;
  }

  div.chefMyFollowedPageMobileRow.row {
    width: 95vw;
    padding-top: 30px;
  }

  div.chefMyFollowedPageFirstDivMobile {
    padding-left: 10px !important;
  }
}
