@media only screen and (max-width: 991px) {
  div.advancedSearchBtnMobile {
    padding-top: 10px;
    padding-bottom: 10px;
    display: auto !important;
  }

  button.ml-1.p-1.advancedSearchBtnButtonMobile.btn.btn-outline-success {
    margin-left: 0px !important
  }

}
