.stepListOrder {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.stepList:before {
  content: "Step #" counter(elementcounter);
  counter-increment: elementcounter;
}

.stepTableSection {
  width: 90%;
}

.stepList {
  margin-bottom: -25px;
}

.ingredientListOrder {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.ingredientList:before {
  content: "Ingredient #" counter(elementcounter);
  counter-increment: elementcounter;
}

.ingredientTableSection {
  width: 90%;
}

.ingredientList {
  margin-bottom: -25px;
}

.dietsAndAllerginsGroup {
  display: inline-block;
  padding: 5px;
}

.allerginsLabel {
  margin-top: 10px;
}
