.stepListOrder {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.stepList:before {
  content: "Step #" counter(elementcounter);
  counter-increment: elementcounter;
}

.stepTableSection {
  width: 90%;
}

.stepList {
  margin-bottom: -25px;
}
/*
.deleteIndividualStep {
  float: right;
  width: 10%;
}

.stepsFormGroup {
  width: 90%;
}
*/
