.react-multi-carousel-item{
    max-width: 190px;
    min-width: 190px;
}

@media only screen and (max-width: 415px) {
  div.individualChefPageMobile {
    padding-top: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
  }

}
